.emaillist{
    display: flex;
    flex-direction: column;
}
.emaillist__Settings {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
border-bottom: 1px solid whitesmoke;

}
.emaillist__Settings svg{
    font-size: 18px;
    
}

.emaillist__settingsRight p {
    font-size: 13px;
}
.emailtype{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    margin-right: 5rem;
}
.emailtype > .emailtype__options{
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 3px solid whitesmoke;
}
.emailtype > .emailtype__options svg{
    font-size: 25px;
    color: gray;
}
.emailtype > .emailtype__options p{
    font-size: 19px;
    
}
.emailtype > .emailtype__options:hover{
    background-color: whitesmoke;
}
.emailtype__options--active {
    border-bottom: 3px solid #d93025 !important;
}
.emailtype__options--active p,
.emailtype__options--active svg
{
        color: #b31a0f !important;
        font-weight: bold;
    }

.emailbody__left{
     margin-right: 10px !important;
    
}
.emailbody{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 10px;
border-bottom: 1px solid whitesmoke;
height: 50px;
position: relative;
margin-right: 3rem;
}


.emailbody:hover{
    box-shadow: 2px 2px 4px whitesmoke;
    cursor: pointer;
}
.emailbody .emailbody__left{
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-left: 1rem;
    
}
.emailbody .emailbody__left svg{
    font-size: 23px;
    color: gray;
    margin-right: 14px;
}
.emailbody .emailbody__left h4{
    font-size: 19px;
    font-weight: bold;

   
}
.emailbody .emailbody__middle{
    display: flex;
    align-items: center;
    flex: 3;

    
}
.emailbody__middle .emailbody__middle__msg{
display: flex;
width: 90%;
margin-left: 100px;

}

.emailbody .emailbody__right{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: left;
    justify-content: flex-end;
  margin: 0;
}
.emailbody .emailbody__right p{
    font-size: 16px;
    margin: 0;
    margin-right: 3px;
}
.emailbody .emailbody__middle p{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 15px;
    margin-left: 6rem;
} 
.emaildetails__header{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 10px;
    
}
.emaildetails__headerLeft{
    margin-top: 2rem;
    display: flex;
    align-items: center;
  
}
.emaildetails__headerRight{
    margin-left: 82%;
    
}

.emaillist__Set {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
border-bottom: 1px solid whitesmoke;
margin-left: 16rem;
margin-right: 2rem;
}
.emaillist__Set svg{
    font-size: 18px;
}

.emaildetails__middleheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    
}
.emaildetails__middleheaderLeft{
    display: flex;
    align-items: center;
}
.emaildetails__middleheaderLeft p{
    font-size: 19px;
}
.emaildetails__middleheaderRight{
    display: flex;
    margin-left: 57%;
}
.emaildetails__middleheaderRight svg{
    font-size: 22px;
}
.emaildetails__middleheaderLeft h4{
    margin-right: 5px;
}
.emaildetails__middleheaderRight p{
    font-size: 14px;
}
.emaildetails_body{
    display: flex;
    font-size: large;
    padding: 0px 15px;
    justify-content: center;
    margin-left: 16rem; 
    margin-right: 2.5rem;
}
.emaildetails_message {
    box-shadow: 0px 0px 4px rgb(179, 178, 178);
    margin-left: 16rem;
    margin-right: 2.5rem;
    height: calc(90vh - 7rem); 
  }
  
.emaillist-container .emailbody {
    margin-left: 15%; 
}

.blue-dot {
    position: absolute;
    top: 50%;
    left: 5px; 
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }